<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Tap Demo
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-grid>
  <ion-row>
    <ion-col text-center><h3>Enter the right code</h3>
    <p *ngIf="!didWin()">Tap twice, or press four times</p>
    <p *ngIf="didWin()">You Won!</p>
    </ion-col>
  </ion-row>
<ion-row>
  <ion-col>
    <ion-list>
      <ion-item>
        <p>Tapped: {{tapped}}</p>
      </ion-item>
      <ion-item>
        <p>Pressed: {{pressed}}</p>
      </ion-item>
    </ion-list>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
      <app-reset (didReset)="onDidReset($event)"></app-reset>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col style="background-color: lightgreen"
  text-center
  (press)="onPress()">Press Here
  </ion-col>
  <ion-col style="background-color: lightblue"
  text-center
  (tap)="onTap()">Tap Here
  </ion-col>
</ion-row>
</ion-grid>

</ion-content>
